* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1280px;
}
.flex-wrapper {
	display: flex;
	justify-content: space-between;
}
header {
    padding: 15px 0;
    height: 70px;
    border-top: 6px solid #5ccb8e;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 2;
}

header section.container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header section.container div.left { 

}

header section.container div.left h2 a {
    color: #454545;
    font-size: 22px;
}

header section.container div.middle { 

}

header section.container div.middle ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header section.container div.middle ul li {

}
header section.container div.middle ul li:last-child {
    margin-right: 0;
}
header section.container div.middle ul li:first-child {
    background: #5ccb8e;
    color: #fff;
}
header section.container div.middle ul li a:hover {
    background: #5ccb8e;
    color: #fff;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

header section.container div.middle ul li a {
    font-size: 14px;
    color: #808080;
    padding: 22px 22px 26px;
}
header section.container div.middle ul li a.home {
    background: #5ccb8e;
    color: #fff;
    font-size: 14px;
    padding: 22px 22px 26px;
}

header section.container div.right { 

}
header section.container div.right i.bx-menu {
    display: none;
}
header section.wrapper section.container div.right a {
    font-size: 14px;
    color: #808080;
    padding: 23px 20px 26px;
}
header section.wrapper section.container div.right a:hover {
    background: #5ccb8e;
    color: #fff;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

header section.container div.right a i { 
    background: #5ccb8e;
    border-radius: 50%;
    color: #fff;
    padding: 7px;
    margin-right: 5px;
}
#spotlight { 
    background: url(../images/slider-image1.jpg) 0 0 no-repeat ;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    
}
#spotlight section.bg-clr {
    background: #00000040;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#spotlight section.content {
    padding-top: 34%;
    padding-left: 4%;
}
#spotlight section.content h2 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    width: 40%;
   
}
#spotlight section.content p {
    font-size: 16px;
    color: #ffffffb3;
    margin: 22px 0 36px;
    width: 50%;
    line-height: 1.5;
}
#spotlight section.content a.button {

    color: #ffffffb3;
    border: 1px solid #fff;
    padding: 15px 26px;
    border-radius: 25px;
    font-size: 14px;
}
#spotlight section.content a:hover{
    color: #000;
    background: #fff;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}
#home {

    padding-bottom: 10%;
    }
    #home div.top { 
        padding: 14% 0;
    }
    #home div.top ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #home div.top ul li {
        border: 1px solid #f2f2f2;
        margin-right: 80px;
        width: 33%;
        box-shadow: 3px 3px #f2f2f2;
        padding: 5% 3%;
    }#home div.top ul li:last-child {
        margin-right: 0;
    }
    #home div.top ul li h2 {
        background: #3f51b5;
        color: #fff;
        width: 70px;
        font-size: 1.5em;
        border-radius: 62%;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: center;
    }
    #home div.top ul li h3 {
        font-size: 1.17em;
        margin-top: 14px;
        font-weight: 600;
        color: #4d4d4d;
    }
    #home div.top ul li p {
        font-size: 14px;
        width: 98%;
        color: #939393;
        line-height: 1.9;
        margin-top: 12px;
        letter-spacing: 0.5px;
    }
    #home div.bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #home div.bottom div.left { 
    
    }
    #home div.bottom div.left h2 {
    
        font-size: 1.3em;
        font-weight: 600;
        color: #373737;
        width: 70%;
    }
    #home div.bottom div.left ul { 
    
    }
    #home div.bottom div.left ul li {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    #home div.bottom div.left ul li div.icon { 
    
    }
    
    #home div.bottom div.left ul li div.icon i {
        color: #fff;
        background: #5ccb8e;
        border-radius: 25px;
        padding: 7px;
        margin-right: 20px;
    }
    
    #home div.bottom div.left ul li div.content { 
    
    }
    
    #home div.bottom div.left ul li div.content h3 {
        font-size: 1.03em;
        font-weight: 600;
        color: #373737;
        margin-bottom: 5px;
    }
    
    #home div.bottom div.left ul li div.content p {
        font-size: 13px;
        color: #a1a1a1;
        width: 60%;
        line-height: 1.5;
    }
    
    #home div.bottom div.right { 
    
    }
    
    #home div.bottom div.right form {
        background: #252020;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20% 10%;
    }
    
    #home div.bottom div.right form div.content {}
    #home div.bottom div.right form div.content h2 {
        color: #fff;
        margin-bottom: 50px;
        font-size: 1.5em;
        font-weight: 500;
        text-align: center;
    }
    
    #home div.bottom div.right form div.content input[type=text] {
        width: 59%;
        margin-left: 20%;
        margin-bottom: 24px;
        height: 26px;
        color: #ffffff96;
        border-bottom: 1px solid #7d7b7b;
    }
    #home div.bottom div.right form div.content input[type=email] {
        width: 59%;
        margin-left: 20%;
        margin-bottom: 24px;
        height: 26px;
        border-bottom: 1px solid #7d7b7b;
        color: #ffffff96;
    }
    #home div.bottom div.right form div.content input[type=password] {
        width: 59%;
        margin-left: 20%;
        margin-bottom: 24px;
        height: 26px;
        color: #ffffff96;
        border-bottom: 1px solid #7d7b7b;
    }
    #home div.bottom div.right form  a.button {
        color: #000;
        background: #fff;
        padding: 12px 24px;
        font-size: 12px;
        border-radius: 25px;
    }
    #home div.bottom div.right form  a.button:hover {
        background: #3846ad;
        color: #fff;
        transition: 0.3s ease-in-out;
    }
    
#trainers {

    background: #f9f9f9;
    padding: 7% 0;
}


#trainers  h1 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 1.5em;
}

#trainers p {
    text-align: center;
    margin-bottom: 4%;
    color: #909090;
    font-size: 1em;}

#trainers ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#trainers  ul li {
    background: #fff;
    width: 270px;
}

#trainers ul li div.top {
    border-bottom: 4px solid #f4f4f4;
}

#trainers ul li div.top div.img {
    width: 100%;
}

#trainers ul li div.top div.img img {
    display: block;
    width: 100%;    
}   

#trainers ul li div.top h3 {
    font-size: 18px;
    margin-top: 11px;
    margin-left: 18px;      
}

#trainers ul li div.top p {
    font-size: 12px;
    color: #4d4d4d;
    margin-top: 5px;
    text-align: left;
    margin-left: 18px;
}

#trainers ul li div.bottom { 
    padding: 10px;
}

#trainers ul li div.bottom i {
    padding: 10px;
    color: #423d3d;
    cursor: pointer;
}
#trainers ul li div.bottom i:hover{
    background: #5ccb8e ;
    color: #fff;
    transition: 0.3s ease-in;
    border-radius: 50%;
}

#courses { 
    padding: 7% 0;
}

#courses h2 {
    text-align: center;
    font-size: 1.5em;
    color: #363636;
    font-weight: 600;
    margin-bottom: 7px;
}

#courses p {
    color: #949494;
    text-align: center;
    font-size: 1.08em;
    margin-bottom: 60px;
}

#courses ul {
    display: flex;
    align-items: center;
    justify-content: center;    
}

#courses ul li {
    background: #f9f9f9;
    width: 25%;
    border: 1px solid #f9f9f9;
    margin-right: 30px;
}


#courses ul li div.top {
    border-bottom: 2px solid #f1ecec;
    width: 100%;
}

#courses ul li div.top div.container {
    text-align: center;
    position: relative;
}


#courses ul li div.top div.container div.img {
    width: 100%;
    margin: 0 auto;
    filter: brightness(0.7);
}

#courses ul li div.top div.container div.img img {
    display: block;
    width: 100%;
}

#courses ul li div.top div.container div.content {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    left: 6%;
}

#courses ul li div.top div.container div.content i {
    color: #e9e4e3;
    font-size: 1em;
    margin-right: 15px;
    font-weight: 700;
}

#courses ul li div.top h3 {
    margin: 37px 0 12px 23px;
    font-size: 1.17em;
    font-weight: 600;
    color: #363636;
}
#courses ul li div.top p.para {
    font-size: 16px;
    width: 81%;
    line-height: 1.5;
    text-align: left;
    margin-left: 24px;
    margin-bottom: 30px;
}

#courses ul li div.bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4%;
}
#courses ul li div.bottom div.content {

display: flex;

justify-content: flex-start;

align-items: center;
}

#courses ul li div.bottom div.content div.img {
    width: 13%;
    margin-right: 14px;
}

#courses ul li div.bottom div.content div.img img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

#courses ul li div.bottom div.content h3 {
    font-size: 14px;
    font-weight: 600;
    color: #363636;
}

#courses ul li div.bottom p {
    cursor: pointer;
}
#courses ul li div.bottom p.one {
    margin: 0;
    background: #3f51b5;
    padding: 7px 14px;
    color: #fff;
    font-size: 16px;
    border-radius: 2px;
}
#courses ul li div.bottom p.two {
    margin: 0;
    background: #5ccb8e;
    padding: 7px 2px;
    font-size: 16px;
    width: 100%;
    border-radius: 2px;
    color: #fff;

}

#courses div.arrows {
    text-align: center;
    margin-top: 51px;
}

#courses div.arrows i {
    background: #b9b9bd94;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    margin-right: 15px;
}
#courses sdiv.arrows i:last-child {
    margin-right: 0;
}

#reviews {
    background: #f9f9f9;
    padding: 7% 0;
}

#reviews h2 {
    text-align: center;
    font-size: 1.5em;
    color: #363636;
    margin-bottom: 20px;
    font-weight: 600;
}

#reviews p {
    text-align: center;
    font-size: 1.17em;
    margin-bottom: 66px;
    color: #898989;
}

#reviews ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#reviews ul li {
    background: #fff;
    width: 50%;
    margin-right: 26px;
    padding: 59px;
}

#reviews ul li div.top {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

#reviews ul li div.top div.img {
    width: 22%;
    margin-right: 25px;
}

#reviews ul li div.top div.img img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

#reviews ul li div.top div.content {
}

#reviews ul li div.top div.content h2 {
    font-size: 27px;
    text-align: left;
    margin-bottom: 5px;
}

#reviews ul li div.top div.content p {
    font-size: 16px;
    color: #898989;
    margin: 0;
}
#reviews ul li div.bottom {
}
#reviews ul li div.bottom p {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    margin: 0;
}

#reviews ul li div.bottom div.star {
    margin-top: 20px;
}

#reviews ul li div.star i.bx {
    color: #11148f;
}

#reviews div.circle {
    text-align: center;
    padding: 42px;
}

#reviews div.circle i {
    color: #7e7e7e;}
#reviews div.circle i:last-child {
    color:rgba(126, 126, 126, 0.712);
}
#contact {
    background: #3f51b5;
    padding: 7%;
}

#contact div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact div.container div.left {
    width: 50%;
}

#contact div.container div.left h2 {
    font-weight: 600;
    font-size: 2em;
    color: #fff;
    margin-bottom: 11px;
}

#contact div.container div.left p {
    font-size: 1.17em;
    color: #ffffff8c;
    margin-bottom: 40px;
}

#contact div.container div.left form { 

}

#contact div.container div.left form input {
    background: #fff;
    width: 83%;
    font-size: 14px;
    padding: 3%;
    margin-bottom: 15px;
    border-radius: 5px;
}



#contact div.container div.left form textarea {
    background: #fff;
    width: 83%;
    padding: 3%;
    border-radius: 5px;
    margin-bottom: 20px;
}

#contact div.container div.left form input[type=submit] {
    width: 25%;   
    border-radius: 30px;   
    color: #555;    
    font-size: 15px;
}
#contact div.container div.left form input[type=submit]:hover {
    background: #3f51b5;
    color: #fff;
    transition: 0.3s ease;
    border: 1px solid #fff;
}

#contact div.container div.right {   
    width: 50%;
}
#contact div.container div.right div.img {

}
#contact div.container div.right div.img img {
    display: block;
    width: 100%;
}
footer {
    background: #252020;
    padding: 7% 0;
}

footer section.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer section.container div.left {

width: 32%;
}

footer section.container div.left h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 20px;
}

footer section.container div.left p {
    color: #ffffff6b;
    line-height: 1.7;
    /* width: 75%; */
    font-size: 16px;
    margin-bottom: 32px;
    }

footer section.container div.left div.icons {
    margin-bottom: 24px;
}

footer section.container div.left div.icons a {
    color: #5ccb8e;
    margin-right: 32px;
    font-size: 20px;
    padding: 5px;
    border-radius: 25px;
}

footer section.container div.left div.icons a:hover {
    background: #5ccb8e;
    color: #fff;
    transition: 0.3s ease;
}

footer section.container div.left div.icons a i {
}
footer section.container div.left span {

}
footer section.container div.left span p{
    margin-bottom: 13px;
}

footer section.container div.middle {

width: 32%;
}

footer section.container div.middle div.info {
    margin-bottom: 38px;
}

footer section.container div.middle div.info h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 24px;
}

footer section.container div.middle div.info p { 

}

footer section.container div.middle div.info p a {
    color: #ffffff6b;
    font-size: 16px;
    line-height: 1.7;
}


footer section.container div.middle div.link { 

}
footer section.container div.middle div.link h2 {   
    color: #fff;   
    font-size: 1.5em;   
    margin-bottom: 15px;
}

footer section.container div.middle div.link ul {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

footer section.container div.middle div.link ul li {
    margin-right: 24px;
}

footer section.container div.middle div.link ul li a {
    color: #ffffff87;
    font-size: 14px;
}

footer section.container div.middle div.link p {
    font-size: 16px;
    color: #ffffff87;
}

footer section.container div.right {

width: 32%;
}

footer section.container div.right h2 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
}


footer section.container div.right form {
}

footer section.container div.right form input[type=email] {
    width: 100%;
    height: 50px;
    margin-bottom: 24px;
    border-bottom: 1px solid #ffffff87;
    color: #ffffff96;
}

footer section.container div.right form input[type=submit] {
    border: 1px solid #ffffff96;
    padding: 18px 58px;
    color: #ffffff96;
    font-size: 14px;
    width: 60%;
    height: 55px;
    border-radius: 26px;
    margin-bottom: 20px;
    cursor: pointer;
}

footer section.container div.right form input[type=submit]:hover {
    background: #5ccb8e;
    color: #fff;
    transition: 0.3s ease;
    border: none;
    transform: scale(1);
}

footer section.container div.right p {
    font-size: 16px;
    color:#ffffff96 ;
} 

@media all and (max-width:1280px) {
    #spotlight section.content {
        padding-top: 23%;
        padding-left: 1%;
    }
    #spotlight section.content p {
        width: 70%;
    }
     #home div.top ul li {
        margin-right: 8px;
        width: 30%;
    }
    #courses ul li {
        width: 32%;
    }
    #reviews ul li {
        padding: 24px;
    }
    #reviews ul li div.bottom p {
        font-size: 16px;
    }
    #contact div.container div.left form input[type=submit] {
        width: 40%;
        padding: 5% 2%;
    }
    footer section.container div.left p {
        font-size: 14px;
    }
    footer section.container div.middle div.info p a {
        font-size: 14px;
    }
    footer section.container div.middle div.link p {
        font-size: 14px;
    }
    footer section.container div.right p {
        font-size: 14px;
    }
    #trainers ul li {
        width: 200px;
    }
} 

@media all and (max-width:1080px) {
    #spotlight section.content {
        padding-top: 29%;
        padding-left: 1%;
    }
    #spotlight section.content h2 {
        width: 70%;
    }
    #spotlight section.content p {
        width: 70%;
    }
    #home div.top ul li h2 {
        width: 60px;
        font-size: 1.17em;
        height: 60px;
    }
     #home div.bottom div.right form {
        padding: 18% 10%;
    }
    #home div.bottom div.right form div.content {
        width: 100%;
    }
    #courses ul li div.top h3 {
        font-size: 16px;
    }
    #courses ul li div.top p.para {
        font-size: 14px;
    }
    #courses ul li div.bottom p.one {
        font-size: 14px;
    }
    #courses ul li div.bottom p.two {
        font-size: 14px;
    }
    #reviews ul li div.top div.content h2 {
        font-size: 24px;
    }
    #reviews ul li div.top div.content p {
        font-size: 14px;
    }
    #reviews ul li div.bottom p {
        font-size: 14px;
    }
    #contact div.container div.left h2 {
        font-size: 1.5em;
    }
    #contact div.container div.left p {
        font-size: 1em;
    }
}

@media all and (max-width:980px) {
    header {
        padding: 12px 0;
        height: 65px;
    }
    header section.container div.left {
        margin-right: 5px;
    }
    header section.container div.middle ul li a.home {
        font-size: 12px;
        padding: 21px 15px 24px;
    }
    header section.container div.middle ul li a {
        font-size: 12px;
        padding: 21px 15px 24px;
    }
    header section.wrapper section.container div.right a {
        font-size: 14px;
        padding: 21px 15px 24px;
    }
    #spotlight section.content h2 {
         width: 100%;
    }
    #spotlight section.content p {
        width: 100%;
    }
    #spotlight section.content a.button {
        font-size: 13px;
    }
    #home div.top ul li {
        margin-right: 22px;
        width: 32%;
        padding: 4% 3%;
    }
    #home div.bottom {
        flex-wrap: wrap;
        width: 100%;
    }
    #home div.bottom div.left {
        margin-bottom: 15%;
    }
    #home div.bottom div.left {
        margin-bottom: 15%;
    }
    #home div.bottom div.left h2{
        width: 90%;
    }
    #home div.bottom div.left ul li div.content p {
        width: 70%;
    }
    #home div.bottom div.right form div.content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #home div.bottom div.right form div.content input[type=text] {
        width: 100%;
        margin-bottom: 17px;
        margin-left: 0;
    }
    #home div.bottom div.right form div.content input[type=email] {
        width: 100%;
        margin-bottom: 17px;
        margin-left: 0;
    }
    #home div.bottom div.right form div.content input[type=password] {
        width: 100%;
        margin-bottom: 17px;
        margin-left: 0;
    }
    #home div.bottom div.right form a.button {
        font-size: 12px;
    }
    #home div.bottom div.right form {
        width: 400px;
        height: 400px;
    }
    
    #home div.bottom div.right {
        width: 100%;
    }
    #trainers ul {
        flex-wrap: wrap;
    }
    #trainers ul li {
        width: 45%;
    }
    #courses ul li {
        width: 70%
    }
    #courses ul li:nth-child(2){
        display: none;
    }
    #courses ul li:nth-child(3){
        display: none;
    }
    #reviews ul li{
        width: 81%;
    }
    #reviews ul li:nth-child(2){
        display: none;
    }
    #reviews ul li:nth-child(3){
        display: none;
    }
    #reviews ul li div.top div.img {
        width: 13%;
    }
    #contact div.container{
        flex-wrap: wrap;
    }
    #contact div.container div.left {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact div.container div.left form input{
        padding: 2%;
        width: 100%;
    }
    #contact div.container div.left form textarea{
        width: 100%;
        padding: 3%;
    }
    #contact div.container div.left form input[type=submit] {
        width: 100%;
        padding: 3% 2%;
    }
    #contact div.container div.right {
        width: 100%;
    }
    footer section.container{
        flex-wrap: wrap;
    }
    footer section.container div.left {
        width: 50%;
        margin-bottom: 44px;
    }
    footer section.container div.middle {
        width: 50%;
    }
    footer section.container div.right {
        width: 100%;
    }
}

@media all and (max-width:768px) {
    header section.container div.middle {
        display: none;
    }
    header section.container div.right a {
        display: none;
    }
    header section.container div.right i.bx-menu {
        display: block;
        color: #000;
        font-size: 30px;
    }
    header section.wrapper section.container div.right a {
        display: none;
    }
    #spotlight section.content h2 {
        font-size: 33px;
        width: 100%;
    }
    #spotlight section.content p {
        font-size: 14px;
        width: 90%;
    }
    #spotlight section.content {
        padding-top: 62%;
    }
    #home div.top ul {
        flex-wrap: wrap;
    }
    #home div.top ul li {
        margin-right: 0; 
        width: 100%;
        margin-bottom: 50px;
    }
    #home div.bottom div.left h2 {
        width: 90%;
        font-size: 24px;
    }
    #home div.bottom div.right form {
        margin: 0 auto;
    }
    #trainers ul li {
        width: 100%;
    }
    footer section.container div.left {
        width: 100%;
    }
    footer section.container div.middle {
        margin-bottom: 30px;
    }
}
@media all and (max-width:640px){
    #home div.bottom div.right form div.content {
        width: 100%;
    }
    #contact div.container div.left form input[type="submit"] {
        width: 100%;
    }
}

@media all and (max-width:480px){
    #home div.bottom div.right form {
        border-radius: 0px;
        width: 400px;
        height: 400px;
    }
    #courses ul li {
        width: 100%;
    }
    #reviews ul li {
        width: 100%;
        margin-right: 0; 
    }
    #home div.bottom div.right form {
        border-radius: 0px;
        width: 300px;
        height: 300px;
    }
    #home div.bottom div.right form div.content {
        width: 100%;
    }
    #contact div.container div.left form input[type="submit"] {
        width: 100%;
    }
       
}
